/* Global Styles */
html{
    min-width: 320px;
}
body {
    font-size: 20px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin: 0;
    min-width: 320px;
}

h1, h2 {
    font-size: 4em;
}

p {
    font-size: 1.8em;
}

ul {
    padding: 0;
}

/* Layout and Containers */
.header, 
.top-section, 
.our-tutors-content, 
.bottom-section {
    padding: 3em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    background-color: rgb(23, 23, 61);
    color: white;
}

.main-nav {
    display: flex;
    width: 80%;
    font-size: 1.4em;
    justify-content: space-around;
}

.nav-links {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.content-package, 
.our-tutors-content, 
.be-a-tutor-wrapper {
    display: grid;
}

.our-tutors-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-tutors-content {
    background-color: rgb(233, 251, 255);
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 4em;
    padding-bottom: 4em;
}

.photo2-section {
    display: flex;
    justify-content: center;
}

.content-package {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-self: center;
}

.be-a-tutor-wrapper {
    grid-template-columns: 1fr 0.5fr;
    gap: 40px;
}

.text-and-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.footer {
    background-color: rgb(23, 23, 61);
    color: white;
    font-size: 0.8em;
    margin: 0;
    display: block;
}

.footer-text {
    padding: 30px;
    text-align: center;
    margin: 0;
}

.nav-title{
    display: none;
}

/* Buttons and Interactions */
.nav-item {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.sign-up {
    font-size: 2em;
    padding: 0.6em;
    width: 11vw;
    min-width: 250px;
    color: white;
    background-color: rgb(58, 58, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(40, 40, 255, 0.8);
    transition: all 0.2s;
}

.sign-up:hover, 
.sign-up:active {
    opacity: 0.7;
    cursor: pointer;
}

.sign-up:active {
    opacity: 0.5;
}

.circle-button {
    width: 0.6vw;
    height: 0.6vw;
    min-width: 12px;
    min-height: 12px;
    padding: 0;
    border-width: 1px;
    border-radius: 1vw;
    border-style: solid;
}

.circle-button:hover {
    cursor: pointer;
}

.button-bar {
    display: flex;
    justify-content: center;
    gap: 0.25em;
}

.hamburger, 
.exit-hamburger {
    display: none;
}

/* Images and Media */
.selector-image, 
.photo2, 
.happy-tutor {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    width: 30vw;
    min-width: 650px;
    height: auto;
    align-self: center;
}

.photo2, 
.happy-tutor {
    object-fit: contain;
    object-position: center;
}

.photo-package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* Text Formatting */
.nav-item, 
.our-tutors-text, 
.inline-text {
    display: inline-block;
    padding: 0.75em;
}

.our-tutors-text {
    font-size: 1.8em;
    margin: 0;
}

.our-tutors-subtitle, 
.first-subtitle, 
.become-a-tutor-title {
    text-align: center;
    margin: 0;
}

.why-we-started {
    margin: 0;
    padding: 1em;
}

.first-subtitle{
    padding: 0.5em;
}

/* Responsive Design */
/* Screens below 4000px */
@media screen and (max-width: 4000px) {
    body {
        font-size: 34px;
    }
}

/* Screens below 3600px */
@media screen and (max-width: 3600px) {
    body {
        font-size: 30px;
    }
}

/* Screens below 3200px */
@media screen and (max-width: 3200px) {
    body {
        font-size: 27px;
    }
}

/* Screens below 2800px */
@media screen and (max-width: 2800px) {
    body {
        font-size: 23px;
    }
}

/* Screens below 2400px */
@media screen and (max-width: 2400px) {
    body {
        font-size: 18px;
    }
}

/* Screens between 1200px and 1660px */
@media screen and (max-width: 1660px) {
    body {
        font-size: 13px;
    }

    .header, 
    .top-section, 
    .our-tutors-content, 
    .bottom-section {
        padding: 2.5em;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3.5em;
    }

    .why-we-started,
    .our-tutors-text,
    .inline-text {
        font-size: 1.8em;
    }

    .photo2, 
    .happy-tutor, 
    .selector-image {
        max-width: 500px;
        width: 100%;
    }

    .photo-wrapper {
        min-width: 400px;
    }
}

/* Screens between 720px and 1200px (Tablets) */
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.4em;
    }

    .header, 
    .top-section, 
    .our-tutors-content, 
    .bottom-section {
        padding: 2em;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

    .our-tutors-content, 
    .content-package {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .photo2, 
    .happy-tutor, 
    .selector-image {
        max-width: 400px;
    }

    .main-nav {
        width: 5vw;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        max-width: 300px;
        height: auto;
        background-color: rgb(231, 233, 245);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 1s ease;
    }

    .nav-links.show {
        display: flex;
        transform: translateX(0);
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav-header h2 {
        margin: 0;
        font-size: 1.8em;
    }

    .hamburger {
        display: block;
        background-color: rgb(23, 23, 61);
        border: none;
        color: white;
        font-size: 1.3em;
    }

    .exit-hamburger {
        background-color: transparent;
        border: none;
        font-size: 2em;
        cursor: pointer;
    }

    .nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        margin: 1.5em 0;
    }

    .nav-links a {
        text-decoration: underline;
        font-size: 1.4em;
        color: black;
    }

    .nav-links a:hover {
        color: grey;
    }

    .be-a-tutor-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .our-tutors-subtitle {
        margin-left: 0;
        text-align: center;
    }

    .our-tutors-content.reverse, 
    .content-package.reverse {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 40px;
    }

    .photo2-section{
        order: 1;
    }
    .center .subtitle {
        text-align: center;
    }

    .photo3-flex{
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 720px) {
    body{
        font-size: 9px;
        font-weight: 325;
    }
    .header{
        justify-content: center;
        padding: 3em;
        gap: 6vw;
    }
    .header h1{
        margin: 0;
        font-size: 3em;
    }
    .hamburger{
        padding: 0em;
        font-size: 1.8em;
    }
    .photo-wrapper {
        min-width: 250px;
        width: 50vw;
    }
    .circle-button{
        min-width: 10px;
        min-height: 10px;
        border-radius: 5px;
    }
    .content-package{
        gap: 20px;
    }
    .nav-links{
        max-height: 700px;
    }

    .nav-links{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 400px) {
    .header{
        font-size: 7.8px;
        padding-left: 0;
    }
}